<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- <app-news></app-news>
<app-home></app-home>
<app-header></app-header> -->

<!-- <div style="text-align: center;"> 你好，angular</div> -->
<!-- <app-form></app-form> -->
<!-- <app-search></app-search>
<hr>
<app-todolist></app-todolist> -->
<!-- <app-domleftbar></app-domleftbar> -->
<!-- <hr> -->

<!-- <app-viewchild></app-viewchild> -->
<!-- <hr> -->
<!-- <app-transition></app-transition> -->
<!-- <app-fhome></app-fhome> -->
<!-- <app-fnews></app-fnews> -->

<!-- rxjs 异步获取数据-->
<!-- <app-homerxjs></app-homerxjs> -->
<app-news-axios></app-news-axios>